
.containee{
    text-align: center;
    background:linear-gradient(to left, #2b2f3d, #49400b); ;
    border-radius: 10px;
    padding: 20px;
    color: rgb(94, 67, 26);
    max-width: 80%;
    width: 400px;
}
.output{
    background:linear-gradient(to right, #323233,rgb(41, 28, 3));
    border:0;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    outline: none;
    display: flex;
    margin-top: 4px;
    justify-content: center;
    color: rgb(87, 66, 11);
    font-size: 16px;
    text-align: center;
}
.limpar{
    align-content: center;
    background:linear-gradient(to right, #181d31,#000);
    border:0;
    margin:auto;
    width: 40%;
    padding: 10px ;
    border-radius: 10px;
    outline: none;
    display: flex;
    margin-top: 4px;
    justify-content: center;
    color: rgb(75, 71, 15);
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.limpar:hover{
    background:linear-gradient(to right ,#000,#181d31);
}
.title{
    color:linear-gradient(to right ,#000,#181d31) ;
    font-size: 21.6px;
    text-align: center;

}
h1 {
    font-size: 21.6px;
    background:linear-gradient(to right,rgb(179, 113, 16),rgb(103, 98, 196));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 50%;
    
}
body {
    font-family: 'Roboto Mono',monospace;
    background-color: #3b309ca9;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
